doctype
html
  head
    link(rel="stylesheet" href="css/main.css")
  body
    != partial('_partials/nav')
    != yield
    != partial("_partials/footer")

  script(src='js/libs/jquery.js')
  script(src='/js/site.js')