.hero.hero-about
  h1 Love the user


p
  Our goal is to create the best possible user experience and take care of our customers from the moment discover us and throughout the lifetime of the product. We strive to be helpful and go out of our way to ensure our customers are happy and can continue to build amazing things. We’re constantly looking for ways to make things easier, better, and more enjoyable. We’re constantly looking for ways to inspire developers to build incredible things they never thought possible. Our goal is to completely change what’s needed to create great products which will ultimately change the world.


.l-section
  h3 Ten Product Values
    ol
      li Love our customers
      li Craft an amazing experience
      li Embrace every problem as an opportunity to make something great
      li Replace pain with happiness
      li Remove friction by making things dead simple.
      li Constantly improve (Kaizen)
      li Push the limits of what’s possible
      li Think big but execute on the details
      li Never make excuses, make things better
      li Create the best products in the world

.l-section
  h3 Product Research

.l-section
  h3 Customer Personas

.l-section
  h3 User Testing

.l-section
  h3 A/B Testing

.l-section
  h3 Analytics

.l-section
  h3 Event Tracking

.l-section
  h3 Continous Improvement