body {
  padding: 50px 0px 0px 0px;
  margin: 0;
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}

.l-clear {
  clear: both;
}

.l-clearfix {

}

.l-fixed-top {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

