nav.main-nav.l-fixed-top
  h1.logo-small
    a(href="/") Wolfe Studios

  ul.main-nav-menu
    li.main-nav-menu-item
      a(href="/about.html") About

    li.main-nav-menu-item
      a(href="/contact.html") Contact

    li.main-nav-menu-item
      a(href="/blog/") Writing

    li.main-nav-menu-item
      a(href="/work/") Work