.thumbnail.l-left
  a(class="thumbnail-image" href="/images/portfolio/#{title}/#{image}" style='background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/portfolio/#{title}/thumbnails/#{image}");')
    span
